.aside{
    width: 10%;
    float: left;
    margin-right: 80px;
    border: 1px solid gray;
    margin-left: 50px;
    border-radius: 5px;   
}
.aside>ul>li:first-child{
    background-color: #ccc;
}
.aside>ul>li{
    color:  #1890ff;
    margin-bottom: 10px;
    padding: 10px 10px 10px 30px;
}

.contant{
    width: 70%;
    float: left;
    border: 1px solid gray;
    padding: 20px 20px 20px 30px;
    border-radius: 10px;   
}