.main>img{
    width: 180px;
    display: block;
    margin-left: 20px;
    margin-top: 20px;
    
}
.form{
   width: 300px;
   position: fixed;
   top:30%;
   left:50%; 
   transform: translateX(-150px);
   
   
}